.text-center
{
    text-align: center;
    color: dodgerblue;
}

.bg-red
{
    background:linear-gradient(lightblue,lightpink);
}

.flex
{
    display: flex;
}
.flex-col
{
    flex-direction: column;
}

.items-center
{
    align-items: center;
}